body {
    margin: 0;
}

#banner {
    width: 100%;
    height: 100px;
    background-image: url("./img/pattern.png");
    background-color: #3A638F;
    position: relative;
}

#logo {
    position: absolute;
    right: 50%;
    top: 20%;
    margin-left: 10%;
}

.title {
    margin-bottom: 0;
}

main p {
    color: black;
}

#blue {
    color: blue;
}

.photos {
    padding-top: 15px;
    padding-bottom: 0px;
}

.tiny {
    font-size: smaller;
}

.name {
    margin: 0;
}

.yellow {
    background-color: yellow;
}

.list {
    padding-left: 20px;
}

li p {
    margin: 0;
}